body {
    font-family: montserrat;
    text-align: center;
}


.nav-link {
    color: grey;
    font-size: 1.2rem;
    font-family: montserrat;
}

.navbar-brand {
    color: white;
    font-family: ubuntu;
    font-size: 2rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 2.5rem;
}

#title {
    background-color: #ff4c68;
    color: white;
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'montserrat-bold', sans-serif;
}

.h1 {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
.container-fluid {
    padding: 3% 15%;
}

.navbar-item {
    padding: 0 1rem;
}

.btn {
    margin: 5% 3% 5% 0;
}

.iphone {
    transform: rotate(19deg);
    width: 16%;
    position: absolute;
    margin-left: 5rem;
}

h3 {
    font-family: 'montserrat-bold';
    font-weight: 900;
}

p {
    color: grey;
}

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

.col-lg-4 {
    padding: 5%;
}

.fa-solid {
    color: #ef8172;
    margin: 1rem;
}

.fa-solid:hover {
    color: #ff4c68;
}

#testimonials {
    background-color: #ef8172;
    color: white;
}


.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}


.section-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-img {
    border-radius: 100%;
    width: 10%;
    margin-right: 1rem;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-icon {
    margin: 20px 20px 50px;
    width: 15%;
}

#pricing {
    padding: 100px;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

@media(max-width: 1028px) {
    .iphone {
        transform: rotate(0);
        position: static;
        width: 60%;
    }

    #title {
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
    padding: 7% 15%;
}

.h3 {
    font-family: 'montserrat-black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

#footer {
    text-align: center;
}

.social {
    margin: 3% 1%
}